:root {
  --primary: #004a90;
  --secondary: #42b983;
  --border: #9b949b;
  --text: #333;
  --warning: #d0021b;
  --white: #fff;
  --default: 420px;
  --modal: rgba(60, 102, 165, 0.9);
  --padding: 16px;
}

body, body *, *, *::before, *::after {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  background: #E0EAFC;
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
  height: 100vh;
  width: 100%;
}

.game-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.game-flow {
  flex-direction: row;
  justify-content: center;
  margin: 12px 0;
  flex-wrap: wrap;
}

.game-col {
  flex-direction: column;
}

.game-dnone {
  display: none !important;
}

.game-modal {
  background-color: var(--modal);
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 999999;
}

.game-modal .modal-container {
  align-self: center;
  background-color: var(--white);
  height: var(--default);
  justify-content: space-around;
  padding: var(--padding);
  position: relative;
  text-align: center;
  width: var(--default);
}

.game-stats {
  background-color: var(--modal);
  height: auto;
  justify-content: space-between;
  margin: 0;
  padding: 0 var(--padding);
  position: relative;
  width: 100%;
}

.game-stats p {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: var(--padding) 0;
}

.game-stats span {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: var(--white);
  font-size: 1.7rem;
  font-weight: bolder;
}

.game-login {
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: auto;
  padding: var(--padding);
  width: var(--default);
}

.game-login input, .game-login label {
  color: var(--secondary);
  font-size: 1.3rem;
}

.game-login input {
  border: 0;
  border-bottom: 1px solid var(--secondary);
  outline: 0;
  padding: 0 var(--padding);  
}

.game-h100 {
  height: 100% !important;
}

.game-relative {
  position: relative !important;
}

.game-absolute {
  position: absolute !important;
}

.enemy {
  margin: 0 6px;
  max-width: 110px;
  padding: 6px;
  text-align: center;
  user-select: none;
  width: auto;
}

.enemy img {
  min-height: 98px;
  width: 100%;
}

.hit {
  box-shadow: rgba(208, 2, 27, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: var(--warning);
}

.field {
  margin: var(--padding) 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.scene1 {
  align-self: center;
  height: 100%;
  justify-content: center;
  max-width: var(--default);
}

.scene2 {
  justify-content: center;
}

button {
  align-self: center;
  background-color: var(--primary);
  border: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: var(--white);
  cursor: pointer;
  font-size: 1.3rem;
  margin: 12px 0;
  max-width: var(--default);
  padding: 8px;
  outline: 0;
  transition: all 0.5s ease-in-out;
  user-select: none;
  width: 100%;
}

button:hover {
  background-color: cornflowerblue;
}

h1 {
  color: var(--secondary);
  font-size: 1.5rem;
}

h2 {
  color: var(--secondary);
  font-size: 1.17rem;
}

p {
  color: var(--secondary);
}

.bubble {
  align-items: center;
  background: var(--warning);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: var(--white);
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  height: 23px;
  justify-content: center;
  left: 2px;
  position: absolute;
  top: -11px;
  width: 86px;
}
.bubble:before {
  border-top: 7px solid transparent;
  border-right: 15px solid var(--warning);
  content: "";
  height: 0;
  left: -10px;
  position: absolute;
  width: 0;
}

.hit-animation {
  animation: shake 0.5s;
  /* animation-iteration-count: infinite; */
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}